.wrapper {
    width: 960x;
    padding: 20px;
    margin: 0 auto;
  }

h1, h2, h3{
    font-family: 'Georgia', Times, Times New ;
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}